        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Lato", sans-serif;
            background: #F1F8FB;
            color: #1e2a3a;
            overflow-x: hidden;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px 7%;
        }

        .logo img {
            width: 150px;
        }

        .get-app {
            background: linear-gradient(132.778deg, #43CEA2 0%, #185A9D 93%);
            color: #fff;
            padding: 10px 24px;
            border-radius: 30px;
            text-decoration: none;
            font-weight: 400;
            transition: all 0.3s ease;
        }

        .get-app:hover {
            opacity: 0.9;
            transform: scale(1.03);
        }

        /* HERO */
        .hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            padding: 60px 7%;
            gap: 40px;
            text-align: center;
        }

        .hero-content {
            flex: 1 1 420px;
            max-width: 540px;
            
        }

        .hero-content h1 {
            font-size: 4rem;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 20px;
            color: #475367;
        }

        .hero-content p {
            font-size: 1.1rem;
            color: #475367;
            margin-bottom: 35px;
            line-height: 1.6;
        }

        .download-btn {
            background: linear-gradient(132.778deg, #43CEA2 0%, #185A9D 93%);
            color: #fff;
            padding: 14px 36px;
            border: none;
            border-radius: 40px;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .download-btn:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
        }

        /* HERO IMAGES */
        

        .hero-images img {
            width: 70%;
        }

       
    