
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Lato", sans-serif;
     background: #F1F8FB;
     color: #1e2a3a;
     overflow-x: hidden;
 }
 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 24px 7%;
 }

 .logo img {
     width: 150px;
 }

 .get-app {
     background: linear-gradient(132.778deg, #43CEA2 0%, #185A9D 93%);
     color: #fff;
     padding: 10px 24px;
     border-radius: 30px;
     text-decoration: none;
     font-weight: 400;
     transition: all 0.3s ease;
 }

 .get-app:hover {
     opacity: 0.9;
     transform: scale(1.03);
 }
.container1 {
 max-width: 1300px;
 margin: 60px auto;
 padding: 0 20px;
 height: auto;
}
.title-text {
 font-size: 32px;
 font-weight: 600;
 margin-bottom: 30px;
 color: #1C2B33;
}
.heading-text {
 font-size: 20px;
 font-weight: 600;
 margin-top: 40px;
 color: #1C2B33;
}

.paragraph-text {
 font-size: 16px;
 color: #475367;
 line-height: 1.8;
 margin-bottom: 12px;
 font-weight: 400;
}
.bullet-list li {
 margin-bottom: 6px;
}
.contact{
     color: #333333;
     font-size: 1rem;
     text-decoration: none;
     font-weight: 400;
     margin-right: 20px;
     transition: transform 0.3s ease-in-out;
 }
 .contact:hover{
     transform: scale(1.05);
     
 }

/* NEW: bullet content color */
.bullet-content {
 color: #475367; /* light gray */
 font-weight: 400;
}

h5 {
 font-weight: 600;
 margin-top: 25px;
 color: #1e2a3a;
}
@media (max-width:768px) {
 .title-text {
 font-size: 27px;
 margin-bottom: 30px;
 
}
.heading-text {
 font-size: 18px;
}
.paragraph-text {
 font-size: 14px;
 line-height: 1.8;
 
}
.get-app {
         display: none;
     }
}
